@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #fc4747;
  --dark: #10141e;
  --greyishBlue: #5a698f;
  --darkBlue: #161d2f;
  --white: #ffffff;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}
